body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #000;
  color: white;
  box-sizing: border-box; */
}
.main{    
  background: #000;
  color: white;
  box-sizing: border-box;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
 margin: 10px 20px 10px 20px;

}
.mycard{
  display: flex;
  justify-content: center;
  align-items: center;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.head{
  text-align: center;
}
 span{
  background: #d03f3f;
  margin-left: 10px;
  color: white;
}

 img{
  height:15rem;
}

.allmonth{
  display: flex;
  align-items: center;
  justify-content: center;
}
 .allmonth span{
   margin-left: 10px;
 }
 button{
  height: 35px;
 }

